{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <style type=text/css>
    h1 { margin: 0 0 30px 0; background: url({{ url_for('static', filename='logo.png') }}) no-repeat center; height: 165px; }
    h1 span, p.tagline { display: none; }
  </style>
  <script type=text/javascript>
    $(function() {
      $('h1').bind('mousedown contextmenu', function(event) {
        if (event.button != 2)
          return;
        var box = $('div.logohint');
        if (!box.is(':visible'))
          box.animate({'height': 'show', 'opacity': 'show'}, 100);
        event.preventDefault();
        event.returnValue = false;
        return false;
      });
    });
  </script>
{% endblock %}
{% block body_title %}
  {{ super() }}
  <p class=tagline>because sometimes a pocket knife is not enough
  <div class=logohint style="display: none">
    <p>
      Hello world !
  </div>
{% endblock %}
{% block body %}
  <blockquote>
    Notre API ReST permet de lister le prix des carburants de diverses stations services française au format json.</br>
    Les données sont fournies par <a href=http://www.prix-carburants.economie.gouv.fr/rubrique/opendata/>le ministère de l'économie, de l’industrie et du numérique</a>
    et sont mises à jour une fois par semaine.
  </blockquote>
  <h2>Comment utiliser notre API ?</h2>
  <blockquote>
    Pour obtenir les coordonnées de l'ensemble des stations :
  </blockquote>
  <pre>/api/gas_station/</pre>
  <blockquote>
    Pour obtenir les informations relative à une station :
  </blockquote>
  <pre>/api/gas_station/{station_id}</pre>
{% endblock %}
